# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore virtual environment folders
venv/
env/
ENV/

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
venv/
